.TopsMain {
    width: 90%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
}

.SkinMain{
    width: 90%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;

}

@media screen and (max-width:600px) {
    .TopsMain {
        width: 90%;
    }

    .SkinMain{
        width: 90%;

    }

}