.FragMain {
    width: 90%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
}

@media screen and (max-width:600px) {
    .FragMain {
        width: 90%;
    }

}